.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100%;
    padding: 1.25rem;
    min-height: 200px;
}
.btn-sig{
    background-color: #f05f44;
    border-color: #f05f44;
    margin-left: .75rem;
}
.c{
    display: flex;
    justify-content: center;
    margin: 0 !important;
}
.button{
    margin: 0 .5rem !important;
    background-color: #94B3FD;
    color: #FFF;
    padding: 0 2rem;
}
.btn-back{
    background-color: #94B3FD;
}
.btn-next{
    background-color: #5C7AEA;
}
