<div class="container">
    <div class="card text-center">
        <div class="col-lg-6 offset-lg-3">
            <input type="text" class="form-control form-control-lg" placeholder="Insert your name:" [(ngModel)]="playerName">
        </div>
        <div class="mt-auto">
            <button class="btn btn-primary btn-lg" routerLink = "/welcome/questionnairesList">Back</button>
            <button class="btn btn-primary btn-lg btn-sig" (click) = "next()" [disabled] ="playerName == ''">Next</button>
        </div>
    </div>
</div>