@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kanit';
}
.register-card{
    width: 25rem;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}
.register-title{
    margin-bottom: 2rem;
}
.register-error{
    font-size: .75rem;
    color: #FF4848;
}

.button{
    width: 8rem;
    padding: .25rem .25rem;
    border: none;
    border-radius: .5rem;
    margin: 0 .5rem ;
    color: white;
}
.btn-back{
    background-color: #94B3FD;
    
}
.btn-accept{
    background-color: #5C7AEA;
}

.input-form{
    width: 100%;
}
/* .button-form{
    margin: 1rem;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: .5rem;
    border: none;
    color: white;
    background-color: #707070;
}
.button-form:hover{
    background-color: #C8C6C6;
    color: #707070;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .5s;
} */
