.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    margin: 0;
}
.card-content{
    margin: .25rem 0;
}
.greeting{
    font-size: 2.5rem;
    color: #F7F6F2 !important;
}
.btn-ing{
    background-color: #5C7AEA;
    color: #FFF;
    padding: 0 1.75rem;
}
.txt{
    word-break: break-word;
}
.btn-back{
    float: right;
    background-color: #94B3FD;
    color: #FFF;
    padding: 0 2rem;
}