<form [formGroup]="newQuestion">
    <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Enter a question</mat-label>
        <input matInput autocomplete="off" type="text" formControlName="question">
        <mat-error *ngIf="newQuestion.get('question').hasError('required') && newQuestion.get('question').touched">
            The question is required
        </mat-error>
    </mat-form-field>




    <div formArrayName="answers" *ngFor="let item of getAnswers.controls; let i = index">
            <div class="input-group pt-2" [formGroupName]="i">
                <input type="text" class="form-control" placeholder="Answer {{ i + 1 }}" formControlName="description">
                <div class="input-group-text">
                    <input class="form-check-input mt-0" type="radio" (change)="setValidAnswer(i)" [value]="1" name="isCorrect" formControlName="isCorrect">
                </div>
                <span class="material-icons delete-icon" (click) = "deleteAnswer(i)">delete</span>
            </div>
            <span class="text-error" *ngIf="item.get('description').hasError('required') && item.get('description').touched">The answer is required</span>
    </div>
    <span class="material-icons add-icon"(click)="addAnswer()">add</span><br><br>
    <button mat-flat-button class="button btn-next float-end" [disabled] = "newQuestion.invalid" (click) = "addQuestion()">Next</button> 
</form>