.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card{
    width: 100%;
    padding: 1rem 0;
}
.correct{
    float: right;
    color: #34BE82;
    font-size: 1.5rem;
    margin-left: -1.25rem;
}
.incorrect{
    float: right;
    color: #FF5151;
    font-size: 1.5rem;
    margin-left: -1.25rem
}
.list-group{
    padding: 0 1rem;
}
.question-name{
    font-size: 1rem;
    font-weight: bold;
    margin: .75rem 0 ;
}

.button{
    background-color: #94B3FD;
    color: #FFF;
    padding: 0 2rem;
}
.btn-back{
    background-color: #94B3FD;
    color: #FFF;
    
}
mat-card-actions{
    display: flex !important;
    justify-content: center !important;
}